<!-- <div class="color-overlay"> <!-- To make header full screen. Use .full-screen class with color overlay. Example: <div class="color-overlay full-screen">  -->
<div class="color-overlay">
	<div role="navigation" class="navbar navbar-default navbar-fixed-top" style="background-color: transparent; border-color: transparent;">
				<!-- start: TOP NAVIGATION CONTAINER -->
		<div class="container">
			<div class="navbar-header">
				<!-- start: RESPONSIVE MENU TOGGLER -->
				<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- end: RESPONSIVE MENU TOGGLER -->
				<!-- start: LOGO -->
				<a class="navbar-brand" href="index.html">
					<!-- CLIP<i class="clip-clip"></i>ONE -->
					<span style="font-weight: 300; color: black;">N'KAP SI</span>
				</a>
				<!-- end: LOGO -->
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="index.html">Accueil</a></li>
					<li><a href="#">Quel est cette plateforme</a></li>
					<li><a href="#">Vouloir quelque chose</a></li>
					<li><a href="#">Devenir coursier</a></li>
					<li><a href="#">Questions</a></li>
				</ul>
			</div>
		</div>
		<!-- end: TOP NAVIGATION CONTAINER -->
	</div>

	<div class="container">

		<div class="row home-contents">
			<div class="col-md-6 col-sm-6" style="margin-top: 5em;">
				<div class="intro-section">
					<h2 class="intro">Ce que vous voulez </br>Ou vous voulez</br> Quand vous voulez</h2>

					<div class="buttons" id="download-button">
						<a href="#"><img src="modules/core/client/images/google-play-badge.png" style="height:5em;"/></a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 hidden-xs">
			    <div class="phone-image">
			    <img src="modules/core/client/images/2-iphone-right.png" class="img-responsive" alt="">
			    </div>
			</div>
		</div>
	</div>

	<div>
		<div class="footer-copyright" style="margin-top: 0px; border-top: initial; background: initial;">
			<div class="container">
					<div class="row">
						<div class="col-md-1">
							<a class="logo" href="index.html">
								N'KAP SI
							</a>
						</div>
						<div class="col-md-7">
							<p>
								&copy; Copyright 2016 by N'Kap Si. All Rights Reserved.
							</p>
						</div>
						<div class="col-md-4">
							<nav id="sub-menu">
								<ul>
									<li>
										<a href="#">FAQ's</a>
									</li>
									<li>
										<a href="#">Contact</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
