<section class="features" id="features">
  <div class="container">
  	<div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">

  		<h2 class="dark-text">Pourquoi nous ?</h2>
  	</div>
    <!--  atteindre vos objectifs - vous faire gagner du temps - vous occuper de la bonne facon -->

  	<div class="row">
      <div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
        <div class="pull-left">
          <div class="colored-line"></div>
    		  <h3> Clients </h3>
          <div class="colored-line"></div>
        </div>
        <div class="clearfix"></div>

        <div class="feature">
          <div class="icon-container">
            <div class="icon">
              <i class="fa fa-clock-o"></i>
            </div>
          </div>

          <div class="fetaure-details">
            <h4 class="main-color">Gagner du temps</h4>
            <p>
              <!-- Le temps est quelque de precieux depuis la nuit des temps, deleguez des taches est l'une des facons d'en gagner.
              Gagnez du temps en deleguant vos courses-->
               Gagnez du temps en deleguant vos courses et en vous faisant livrer ou vous voulez
            </p>
          </div>
        </div>

  			<div class="feature">
  				<div class="icon-container">
  					<div class="icon">
  						<i class="fa fa-bullseye"></i>
  					</div>
  				</div>
  				<div class="fetaure-details">
  					<h4 class="main-color">Garder votre concentration</h4>
  					<p>
              <!-- Laisser une activite pour y revenir apres nous oblige de prendre des minutes pour nous retrouver.
              Garder votre concentration sur ce que vous faites en laissant quelqu'un d'autre faire votre course -->
               Continuez d'etre concentrer sur ce que vous faites et laisser quelqu'un d'autre faire votre course
  					</p>
  				</div>
  			</div>

  			<div class="feature">
          <div class="icon-container">
  					<div class="icon">
  						<i class="fa fa-car"></i>
  					</div>
  				</div>
  				<div class="fetaure-details">
  					<h4 class="main-color">Utiliser du materiel que vous n'avez pas</h4>
  					<p>
  						 Vous avez la possibilite de demander une course impliquand un matriel que vous n'avez pas tel une voiture ou une moto.
  					</p>
  				</div>

  			</div>

  		</div>


  		<div class="col-md-4 col-sm-4">
  			<div class="phone-image wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
  				<img src="modules/core/client/images/single-iphone.png" alt="">
  			</div>
  		</div>


  		<div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
        <div class="pull-right">
          <div class="colored-line"></div>
    		  <h3> Coursiers </h3>
          <div class="colored-line"></div>
        </div>
        <div class="clearfix"></div>

  			<div class="feature">
          <div class="icon-container">
  					<div class="icon">
  						<i class="fa fa-money"></i>
  					</div>
  				</div>
  				<div class="fetaure-details">
  					<h4 class="main-color">Gagnez de l'argent n'importe quand</h4>
  					<p>
  						 Il vous est possible de vous connecter n'importe quand pour faire n'importe quel course de votre choix
  					</p>
  				</div>
  			</div>

  			<div class="feature">
  				<div class="icon-container">
  					<div class="icon">
  						<i class="fa fa-fire"></i>
  					</div>
  				</div>
  				<div class="fetaure-details">
  					<h4 class="main-color">Occupez vos temps libre</h4>
  					<p>
  						 Occupez vos temps libres en faisant des courses et en gagnant de l'argent par la meme occasion
  					</p>
  				</div>
  			</div>


  			<div class="feature">
  				<div class="icon-container">
  					<div class="icon">
  						<i class="fa fa-briefcase"></i>
  					</div>
  				</div>
  				<div class="fetaure-details">
  					<h4 class="main-color">Un job de plus</h4>
  					<p>
  						 Avoir plusieurs jobs c'est difficile!! Mais un job en plus aux heures qui dependent de vous c'est fabuleux!
  					</p>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</section>
